.services-section {
    padding: 1rem;
    text-align: center;
    overflow: visible; // ✅ Agregalo si no está
    position: relative; // ✅ Necesario para posicionamiento correcto
    z-index: 1;

    .cards-container {
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
    }

    .service-card {
        background: #fff;
        border-radius: 1rem;
        width: 300px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        box-shadow: 7px 7px 10px 3px rgba(246,81,29,0.56);

        &:hover {
            transform: translateY(-10px);
            box-shadow: 7px 7px 10px 3px rgba(227,151,59,1);
        }


        .card-content {
            height: 100%;
            padding: .5rem .5rem 0rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;


            h3 {
                color: #1f1f1f;
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
            }

            p {
                font-size: 1rem;
                color: #555;
                margin-bottom: 1rem;
            }

        }
    }
}

.services-grid {
    margin-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    overflow: visible; // ✅ Este también puede estar limitando
    position: relative;
}